* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Custom styles */

.fw-400{
  font-weight: 400;
}

.cursor-pointer{
  cursor: pointer;
}

.redBlock{
    width: 30px;
    height: 60px;
    background-color: #DB4444;
    border: none;
    border-radius: 5px;
}

.w-80px{
  width: 80px;
}