* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Custom styles */

.fw-400{
  font-weight: 400;
}

.fw-600{
  font-weight: 600;
}

.cursor-pointer{
  cursor: pointer;
}

.redBlock{
    width: 30px;
    height: 60px;
    background-color: #DB4444;
    border: none;
    border-radius: 5px;
}

.whiteBlock{
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.w-80px{
  width: 80px;
}

.w-600px{
  width: 600px;
}

.h-200px{
  height: 200px;
}

.w-350px{
  width: 350px;
}

.fs-90px{
  font-size: 90px;
}

.ff-tnr{
  font-family: 'Times New Roman', Times, serif;
}

.round50{
  border: inherit;
  border-radius: 50%;
}

.bg-lightGray{
  background: #f3f5f7;
}

.bsAlert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 90%;
  max-width: 500px;
  transition: all 0.3s ease-in-out;
}

